<div class="container d-flex justify-content-center align-items-center vh-100" style="background-color: #f4f6f9;">
  <div class="card p-4 shadow-lg border-0" style="max-width: 400px; width: 100%; border-radius: 15px;">
    
    <div class="text-center mb-4">
      <h2 class="text-primary fw-bold mb-1">🐾 VetControl</h2>
      <p class="text-muted small">Módulo de Autenticación - Sistema Veterinario</p>
    </div>

    <div *ngIf="errorMensaje" class="alert alert-danger p-2 text-center small rounded-3 mb-3">
      ⚠️ {{ errorMensaje }}
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      
      <div class="mb-3">
        <label class="form-label small fw-bold text-secondary">Correo Electrónico</label>
        <input type="email" formControlName="email" class="form-control py-2" placeholder="usuario@veterinaria.com" />
      </div>

      <div class="mb-4">
        <label class="form-label small fw-bold text-secondary">Contraseña</label>
        <input type="password" formControlName="password" class="form-control py-2" placeholder="••••••••" />
      </div>

      <button type="submit" class="btn btn-primary w-100 py-2 fw-bold rounded-3 shadow-sm">
        {{ loading ? 'Validando Acceso...' : 'Ingresar al Sistema' }}
      </button>

    </form>
  </div>
</div>